# Eclipse Project Files
.settings/
*.project
*.pydevproject
*.prefs

# Python bytecode:
*.py[co]
__pycache__

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Secret Files
*.secret
.env